//breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colors
$primary-black-title: #13182c;

// card styling
$card-bg-color: #ffffff;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$text-color: #333;
$padding: 1.5rem;
$border-radius: 0.5rem;

// header styling
$header-bg-color: black;
$header-border-color: black;
$header-text-color: rgb(194, 195, 229);
$header-font-family: "Edu AU VIC WA NT Pre";
$pages-bg-color: rgb(97, 132, 163);
$pages-text-color: rgb(171, 215, 238);

// home page styling
$main-bg-color: rgb(27, 39, 46);
$sec-bg-color: rgb(167, 187, 202);
