//breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colors
$primary-black-title: #13182c;

// styling
$card-bg-color: #ffffff;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$text-color: #333;
$padding: 1.5rem;
$border-radius: 8px;
