//breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colors
$primary-black-title: #13182c;

// card styling
$card-bg-color: #ffffff;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$text-color: #333;
$text-color-light: #919090;
$padding: 1.5rem;
$border-radius: 0.5rem;

// header styling
$header-bg-color: black;
$header-border-color: black;
$header-text-color: white;
$header-font-family: "Edu AU VIC WA NT Pre";
$pages-bg-color: rgb(218, 226, 234);
$pages-text-color: rgb(25, 52, 68);

// home page styling
$main-bg-color: rgb(27, 39, 46);
$sec-bg-color: rgb(167, 187, 202);

// misson page styling
$third-bg-color: rgb(227, 234, 241);
