@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $header-bg-color;
  color: $header-text-color;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  &--credits {
    padding: 1rem;
    @include desktop {
      font-size: 1.5rem;
    }
  }
  &--light {
    opacity: 25%;
    font-family: $header-font-family;
    @include desktop {
      font-size: 1.5rem;
    }
  }
  @include desktop {
    height: 10rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
