@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header__background {
  background-color: $header-bg-color;
  background-image: url("./src/assets/images/Crab-Nebula.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem;
  @include tablet {
    padding: 15rem;
  }
  @include desktop {
    padding: 15em;
  }
  &--text {
    color: $header-text-color;
    font-family: $header-font-family;
    opacity: 50%;
    font-size: 2rem;
  }
}

.header {
  &__nav {
    background-color: $header-bg-color;
    border-bottom: 0.625rem solid $header-border-color;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__logo {
    font-size: 3rem;
    margin: 1.5rem;
    font-family: $header-font-family;
  }
  &__link {
    color: $header-text-color;
    font-weight: 400;
    font-size: 2.5rem;
    opacity: 75%;
    @include tablet {
      font-size: 3rem;
    }
  }
  &__pages {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
    @include desktop {
      width: 60%;
    }
    &--link {
      color: $pages-text-color;
      font-family: $header-font-family;
      background-color: $pages-bg-color;
      border-radius: 0.5rem;
      width: 100%;
      height: 3rem;
      text-align: center;
      font-size: 1.7rem;
      @include tablet {
        font-size: 2rem;
        height: 3.5rem;
      }
      @include desktop {
        font-weight: 500;
      }
    }
  }
}
