@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header__background {
  background-color: $header-bg-color;
  background-image: url("./src/assets/images/ring-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem;
  &--text {
    color: $header-text-color;
    font-family: $header-font-family;
    opacity: 30%;
    font-size: 2rem;
  }
}

.header {
  &__nav {
    background-color: $header-bg-color;
    border-bottom: 0.625rem solid $header-border-color;
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    font-size: 2rem;
    margin: 1.5rem;
    font-family: $header-font-family;
  }
  &__link {
    list-style-type: none;
    text-decoration: none;
    color: $header-text-color;
  }
  &__pages {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: 70%;
    &--link {
      color: $header-text-color;
      font-family: $header-font-family;
      background-color: $pages-bg-color;
      border-radius: 0.7rem;
      width: 100%;
      text-align: center;
    }
  }
}
